<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
      </div>
      <div class="content">
        <h1>Our Services</h1>
        <p>Content of the Services page goes here.</p>
      </div>
    </div>
  </body>
</html>
